.title {
    display: inline-block;
}

.title {
    text-align: center;
    width: 200px;
    font-size: 30pt;
    font-weight: bolder;
}

body {
    margin: 0px;
}

.main {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.left, .center, .right {
    display: inline-block;
    vertical-align: top;
    height: 80vh;
}

.left {
    border-right: 1px solid black;
    width: 159px;
}

.lefttitle {
    border-bottom: 1px solid black;
    vertical-align: top;
    text-align: center;
}

.leftlist {
    border-bottom: 1px solid black;
}

.center {
    border-right: 1px solid black;
    position: absolute;
    width: auto;
    right: 160px;
    left: 200px;
    overflow-y: auto;
}

.centerheader {
    font-size: 30pt;
}

.centeritem {
    border: 1px solid black;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

img {
    width: 150px;
    height: auto;
}

.itemimage img{
    width: 200px;
    height: 200px;
}

.buybutton, .price, .itemname, .itemrating {
    text-align: center;
}

.center {
    right: 0px;
    border-right: none;
}

.topbar {
    height: 100px;
    border: 1px solid black;
}

.search1 {
    
}

.search1 input{
    height: 20px;
    width: 300px;
}

.search1 button{
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
}

.topnav{
    top: 10px;
    position:absolute;
    right: 0px;
    width: 20%;
    text-align: right;
}

.loginform{
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
}

.centercontainer{
    margin: auto auto;
    top: 45%;
    position:relative;
}

.wronglogin{
    color: red;
    display:none;
}

.detailleft{
    width: 40%;
    display: inline-block;
    height: 250px;
}

.mainimage{
    width: auto;
    height: 75%;
}

.mainimage img{
    width: 100%;
    height: 100%;
}

.detailright{
    display: inline-block;
    vertical-align: top;
    height: 350px;
}

.smallimagelist{
    margin-top: 5%;
    height: 20%;
    overflow: hidden;
}

.smallimg{
    display:inline-block;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 100%;
}

.smallimg img{
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 720px) {
    .center {
        right: 160px;
        border-right: 1px solid black;
    }

    .search1 {
        width: 60%;
        position: absolute;
        left: 200px;
        line-height: 50px;
        margin-right: 12px;
    }

    .topbar {
        height: 50px;   
    }

    

    .topnav, .search1 {
        display: inline-block;
    }

    .search1 input{
        height: 30px;
        width: 70%;
    }
}