.title {
    display: inline-block;
}

.title {
    text-align: center;
    width: 200px;
    font-size: 30pt;
    font-weight: bolder;
}

body {
    margin: 0px;
}

.main {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(251,251,251);
}

.left, .center, .right {
    display: inline-block;
    vertical-align: top;
    height: 80vh;
}

.left {
    border-right: 1px solid black;
    width: 159px;
    overflow: hidden;
}

.lefttitle {
    color:white;
    background-color: rgb(13,92,182);
    padding: 5px 0px;
    border-bottom: 1px solid black;
    vertical-align: top;
    text-align: center;
}

.leftlist {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.leftlist a{
    display: inline-block;
    width: 100%;
    padding: 5px 0px;
}

.leftlist a:hover{
    background-color: rgb(230,230,230);
}

.center {
    padding-left: 5px;
    border-right: 1px solid black;
    position: absolute;
    width: auto;
    right: 160px;
    left: 200px;
    overflow-y: auto;
}

.centerheader {
    font-size: 30pt;
}

.centeritem {
    vertical-align: top;
    /*border: 1px solid black;*/
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.centeritem:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

img {
    width: 150px;
    height: auto;
}

.itemimage img{
    width: 200px;
    height: 200px;
}

.itemrating{
    height: 18px;
}

.itemrating img{
    width: 10px;
    height: 10px;
}
.buybutton, .price, .itemname, .itemrating {
    text-align: center;
}

.center {
    right: 0px;
    border-right: none;
}

.topbar {
    height: 100px;
    border: 1px solid black;
    background-color: rgb(26,148,255);
    color: white;
}

.topbar a{
    color: white;
}

.cart{
    /*background-image: url(img/cart.png);
    background-size:cover;
    width: 50px;*/
}

.search1 {
    
}

.search1 input{
    height: 20px;
    width: 300px;
}

.search1 button{
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
}

.topnav{
    padding-right: 10px;
    top: 10px;
    position:absolute;
    right: 0px;
    width: 18%;
    text-align: right;
}

.loginform{
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
}

.centercontainer{
    margin: auto auto;
    top: 45%;
    position:relative;
}

.wronglogin{
    color: red;
    display:none;
}

.detailleft{
    width: 300px;
    /*display: inline-block;*/
    height: 350px;
    margin-right: 5px;
}

.profileleft{
    margin-right: 15px;
    width: 150px;
    display: inline-block;
    height: 350px;
}

.profileright{
    display: inline-block;
    vertical-align: top;
    height: 350px;
}

.mainimage{
    width: auto;
    height: 75%;
}

.mainimage img{
    width: 100%;
    height: 100%;
}

.detailboth{
    width: 810px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: white;
    margin-bottom: 20px;
}

.detailright{
    width: 500px;
    /*display: inline-block;*/
    vertical-align: top;
    /*height: 350px;*/
    background-color:white;
    
}

.smallimagelist{
    margin-top: 5%;
    height: 20%;
    overflow: hidden;
}

.smallimg{
    display:inline-block;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 100%;
}

.smallimg img{
    width: 100%;
    height: 100%;
}

.reviewcontainer{
    width: 800px;
    height: 70px;
    /*border: 1px solid black;*/
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.userimg{
    margin-right: 2%;
    height: 100%;
    width: 10%;
    display:inline-block;
}

.userimg img{
    width: 100%;
    height: 100%;
}

.reviewinfo{
    margin-top: 5px;
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.profileimage{
    width: 100%;
    height: 50%;
    position: relative;
}

.profileimage img{
    width: 100%;
    height: 100%;
}

.detailrating img{
    width: 20px;
    height: 20px;
}

.reviewrating img{
    width: 12px;
    height: 12px;
}

@media screen and (min-width: 720px) {
    /*.center {
        right: 160px;
        border-right: 1px solid black;
    }*/

    .search1 {
        width: 60%;
        position: absolute;
        left: 200px;
        line-height: 50px;
        margin-right: 12px;
    }

    .topbar {
        height: 50px;   
    }

    .detailleft{
        display: inline-block;
    }

    .detailright{
        display: inline-block;
    }

    .topnav, .search1 {
        display: inline-block;
    }

    .search1 input{
        height: 30px;
        width: 70%;
    }
}